img{
    width: 100px;
}


/* Seat */
.table-seats-container{
    width: 0px;
}

.seat{
    /* background-color: brown !important; */
    border: 1px !important;
    border: 1px solid red !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
} 

/* .table-seats-title{
    width: 22px;
    height: 22px;
    border: 1px solid rgb(159, 159, 159);
    margin: 1px;
} */

/* seat */
/* .table-seats-normal-container .seat{
    border: 1px solid #01c73c !important;
}

.table-seats-vip-container .seat{
    border: 1px solid #f71708 !important;
}

.table-seats-sweetbox-container .seat{
    border: 1px solid #FF62B0 !important;
} */

.seat--normal-active{
    background-color: #01c73c !important;
    border:none !important;
    color: white;
}

.seat--vip-active{
    background-color: #f71708 !important;
    border:none !important;
    color: white;
}

.seat--sweetbox-active{
    background-color: #FF62B0 !important;
    border:none !important;
    color: white;
}

#form-seats-create {

}

.table-seats-body input{
    display: none;
}

input:last-of-type {
    /* display: block; */
}