/* reset  */
p{
    margin: 0;
}

/* icon */
.fa-solid{
    font-size: 22px;
}
.fa-solid.fa-xmark{
    /* font-size: 1.2rem; */
    margin: 0 0 0 10px;
}

img{
    width: 100px;
}

/* filter  */
.table-filter{
    display: flex;
    justify-content: space-between;
}

.table-option{
    width: 100px;
}

.table-checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.table-filter-left-sort{
    margin-right: 10px;
    
}

.table-filter-left-search{
    margin:0 10px;
}

/* table  */
.table-col-left{
    text-align: left !important;
}

/* Seat */
.table-seats-container{
    width: 0px;
}

.seat{
    /* background-color: brown !important; */
    border: 1px solid red ;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
} 



.seat{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
} 

.table-seats-body input{
    /* display: none; */
}

.table-seats-title{
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(159, 159, 159);
    margin: 1px;
}

/* .table-seats-sweetbox-container .seat--empty,
.table-seats-vip-container .seat--empty,
.table-seats-normal-container .seat--empty{
    border: none !important;
} */

.seat{
    width: 30px;
    height: 30px;
    font-size: 10px;
    line-height:30px;
    text-align: center;
    margin: 1px 1px;
    cursor: pointer;
}

.table-seats-title--big{
    width: 60px;

}





#form-seats-create {

}

.table-seats-body input{
    display: none;
}

input:last-of-type {
    /* display: block; */
}

/* alert */
.alert{
    display: none;
}

/* toast */
.toast-container{
    position: absolute;
    top: 64px;
    right: 10px;
}

/* modal */
.modal-content{
    z-index: 9999;
}