 <div class="booking-container">
    <div class="booking-top">
        <h2 class="booking-payment-headding">BOOKING ONLINE</h2>
        <div class="booking-top-desc">
            <p>CGV HÙNG VƯƠNG Plaza | Cinema 5 | Số ghế (277/260)</p>
            <p>11/06/2022 10:10 ~ 11/06/2022 13:02</p>
        </div>
    </div>
    <div class="booking-content">
        <div class="booking-content__headding">Người / Ghế</div>
        <img src= "/img/backgrounds/background-booking-content.png" class="booking-content__screen"></img>
        <div class="booking-content-ticketbox">
            <div class="seat-normal-container">
                <div class="seat seat--normal seat--active">A1</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A2</div>
                <div class="seat seat--normal" price ="120000" id ='A3'>A3</div>
                <div class="seat seat--normal" price ="120000" id ='A4'>A4</div>
                <div class="seat seat--normal" price ="120000" id ='A5'>A5</div>
                <div class="seat seat--normal" price ="120000" id ='A6'>A6</div>
                <div class="seat seat--normal" price ="120000" id ='A7'>A7</div>
                <div class="seat seat--normal" price ="120000" id ='A8'>A8</div>
                <div class="seat seat--normal" price ="120000" id ='A9'>A9</div>
                <div class="seat seat--normal" price ="120000" id ='A10'>A10</div>
                <div class="seat seat--normal" price ="120000" id ='A11'>A11</div>
                <div class="seat seat--normal" price ="120000" id ='A12'>A12</div>
                <div class="seat seat--normal" price ="120000" id ='A13'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A14'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A15'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A16'>A16</div>
                <div class="seat seat--normal" price ="120000" id ='A17'>A17</div>
                <div class="seat seat--normal" price ="120000" id ='A18'>A18</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A10</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A11</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A12</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A11</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A12</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A10</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A11</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A12</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A10</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A11</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A12</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A13</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A14</div>
                <div class="seat seat--normal" price ="120000" id ='A2'>A15</div>
            </div>
            <div class="seat-vip-container">
                <div class="seat seat--vip ">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
                <div class="seat seat--vip">E18</div>
            </div>
            <div class="sweet-box-container">
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
                <div class="seat sweet-box--vip">E18</div>
            </div>
        </div>
    </div>
    <div class="booking-bottom">
        <form action="/category/film/booking?" method="POST" class="form-booking">
            <button class="form-booking__prev"></button>
            <div class="form-booking-left">
                <img class="form-booking__img" src="/img/films/film1.jpg">
                <div class="form-booking-left-desc">
                    <p class="form-booking__name">Thế giới khủng long: lãnh địa</p>
                    <p class="form-booking__option">2D</p>
                </div>
            </div>
            <div class="form-booking-mid">
                <div class ="form-booking-wrap">
                    <span>Rạp:</span>   
                    <p class="form-booking__cinema"> CGV Hùng Vương Plaza</p>
                </div>
                <div class ="form-booking-wrap">
                    <span>Suất chiếu:</span>
                    <p class="form-booking__time"> 10:10, 11/06/2022</p>
                </div>
                <div class ="form-booking-wrap">
                    <span>Phòng chiếu:</span>
                    <p class="form-booking__room"> Cinema 5</p>
                </div>
                <div class ="form-booking-wrap">
                    <span>ghế:</span>
                    <p class="form-booking__seat"></p>
                </div>
            </div>
            <div class="form-booking-right">
                <div class ="form-booking-wrap"> 
                    <span>Tổng: </span>
                    <p class="form-booking__total">0 ₫</p>
                </div>
            </div>
            <button type="submit" class="form-booking__next"></button>
        </form>
    </div>
</div>

<script>
const seats = document.querySelectorAll('.seat');
const formTotal = document.querySelector('.form-booking__total');
const formSeat = document.querySelector('.form-booking__seat');

let total =0;
let ghe =[];

Array.from(seats).map((seat,index)=>{
    seat.setAttribute('data-index',index);
    seat.onclick = function() {
        if(seat.classList.contains('seat--active')){
            total -= (parseInt(seat.getAttribute('price')));
            ghe.splice(ghe.indexOf(seat.id),1);
            seat.classList.remove('seat--active');
        }
        else{
            total += (parseInt(seat.getAttribute('price')));
            ghe.push(seat.id)
            seat.classList.add('seat--active');
        }
        formTotal.textContent = total + ' ₫';
        formSeat.textContent = ghe;
    }
})


</script>