<div class="finally-container">
    <div class="finally-notify">
        <p>Thanh toán thành công.</p>
    </div>
    <div class="finally-desc">
        <h2 class="finally-desc__headding">Vui lòng vào mục vé của tôi để xem chi tiết vé đã mua</h2>
        <p class="finally-desc__content"><a href="">Click vào đây</a> để vào mục vé của tôi</p>
        <p class="finally-desc__content"><a href="">Click vào đây</a> để tiếp tục mua hàng</p>
    </div>
</div>