<div class="login-redgiter-container">
    <div class="row">
        <div class="col col-lg-7">
            <form class="login-redgister-form">
                <div class="form-headding">
                     <a href="/login" class="form-login-redgister-link">Đăng nhập</a>
                    <a href="/redgister" class="form-login-redgister-link ">Đăng ký</a>
                </div>
                <div class="form-content">
                    <label for="form-content__email-phone" >Email hoặc số điện thoại</label><br>
                    <input type="text" id="form-content__email-phone" placeholder="Email hoặc số điện thoại"><br>
                    <label for="form-content__password" >Mật khẩu</label><br>
                    <input type="text" id="form-content__password" placeholder="Mật khẩu"><br>
                </div>
                <button id="login-submit" class ='form-content__submit' type ='submit'>Đăng Nhập</button>
            </form>
            <a class ="form-forget-link" href="">Quên mật khẩu ?</a>
        </div>
        <div class="col col-lg-5">
            <img src="/img/sliders/slider-form.jpg" alt="" class="form-slider">
        </div>
    </div>
</div>

<script>
 
</script>