<div class="myaccount-container">
    <div class="row">
        <div class="myaccount-navbar col col-lg-3">
            <h2 class="myaccount-navbar__headding">Tài khoản CGV</h2>
            <div class="myaccount-navbar__nav tabs">
                <p>Thông tin chung</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Chi tiết tài khoản</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Thẻ thành viên</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Điểm thưởng</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Thẻ quà tặng</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Voucher</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Coupon</p>
            </div>
            <div class="myaccount-navbar__nav tabs">
                <p>Lịch sử giao dịch</p>
            </div>
        </div>
         <div class="myaccount-content col col-lg-9">
            <h2 class="booking-payment-headding">LỊCH SỬ GIAO DỊCH</h2>
            <div class="myaccount-content-history">
                <p class="myaccount-content-history__code">Mã đặt vé: 290216906 (Trạng thái : Hoàn Tất)</p>
                <div class="myaccount-content-history-content">
                    <img src="/img/films/film1.jpg" alt="" class="myaccount-content-history-content__img">
                    <div class="myaccount-content-history-content-desc">
                        <p>PHÙ THỦY TỐI THƯỢNG TRONG ĐA VŨ TRỤ HỖN LOẠN</p>
                        <p>11/05/2022</p>
                        <p>From 13:00 PM ~ To 15:20 PM</p>
                        <p>CGV Soil Leroi</p>
                        <p>Cinema 3 (D6, D7)</p>
                        <b>150.000,00 ₫</b>
                        <button></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>