<div class="login-redgiter-container">
    <div class="row">
        <div class="col col-lg-7">
            <form class="login-redgister-form">
                <div class="form-headding">
                    <a href="/login" class="form-login-redgister-link">Đăng nhập</a>
                    <a href="/redgister" class="form-login-redgister-link form-login-redgister-link--active">Đăng ký</a>
                </div>
                <div class="form-content">
                    <label for="form-content__email-phone" >Tên<span>*</span></label><br>
                    <input type="text" id="form-content__email-phone" placeholder="Tên"><br>
                    <label for="form-content__phone" >Số điện thoại<span>*</span></label><br>
                    <input type="text" id="form-content__phone" placeholder="Số điện thoại"><br>
                    <label for="form-content__email" >Email<span>*</span></label><br>
                    <input type="text" id="form-content__email" placeholder="Email"><br>
                    <label for="form-content__password" >Mật khẩu<span>*</span></label><br>
                    <input type="text" id="form-content__password" placeholder="Mật khẩu"><br>
                    <label for="form-content__date" >Ngày sinh<span>*</span></label><br>
                    <div class="form-content-date-gender-wrap">
                        <select name="ngay" id="form-content__day">
                            <option selected disabled value="">Ngày</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                        <select name="thang" id="form-content__month">
                            <option selected disabled value="">Tháng</option>
                            <option value="1" >01</option>
                            <option value="2" >02</option>
                            <option value="3" >03</option>
                            <option value="4" >04</option>
                            <option value="5" >05</option>
                        </select>
                        <select name="nam" id="form-content__year">
                            <option selected disabled value="">Năm</option>
                            <option value="1" >2010</option>
                            <option value="2" >2009</option>
                            <option value="3" >2008</option>
                            <option value="4" >2007</option>
                            <option value="5" >2006</option>
                        </select>
                        <div class="form-content-gender">
                            <input id ="fom-content__male" type="radio" name ='gender' value ='male'>
                            <label for="fom-content__male" >Nam</label>
                            <input id ="fom-content__female" type="radio" name ='gender' value ='female'>
                            <label for="fom-content__female" >Nữ</label>
                        </div>
                    </div>
                    <label for="form-content__site" >Khu vực<span>*</span></label><br>
                    <input type="text" id="form-content__site" placeholder="Khu vực"><br>
                    <label for="form-content__cinema" >Rạp yêu thích<span>*</span></label><br>
                    <input type="text" id="form-content__password" placeholder="Rạp yêu thích"><br>
                    <div class="form-content-accept-wrap">  
                        <input type="checkbox" id="form-content-accept">
                        <label for="form-content-accept" >Tôi đồng ý với <span>Điều khoản sử dụng của CGV</span></label>
                    </div>  
                </div>
                <button id="login-submit" class ='form-content__submit' type ='submit'>Đăng Ký</button>
            </form>
        </div>
        <div class="col col-lg-5">
            <img src="/img/sliders/slider-form.jpg" alt="" class="form-slider">
        </div>
    </div>
</div>