<h1 class="">Add Categorys</h1>
<form id ="form-category-create" method="POST" action="/admin/categorys">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name ="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Status</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="status">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Sub_menu_id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name ="subcategory_id">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>