</div>
<footer class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> &copy; 2021 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/bootstrap/ui-components/">CoreUI UI Components</a></div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
    <script src="/node_modules/simplebar/dist/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="/node_modules/chart.js/dist/chart.min.js"></script>
    <script src="/node_modules/@coreui/chartjs/dist/js/coreui-chartjs.js"></script>
    <script src="/node_modules/@coreui/utils/dist/coreui-utils.js"></script>
    <script src="/dist/js/main.js"></script>
    <script> 
    </script>
  </body>
</html>