<body>
  <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
      <img class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo" src ="/img/cgv.png">
      </img>
      <img class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo" src ="/img/cgv.png">
      </img>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="/admin">
          <div class="nav-icon">
            <i class="fa-solid fa-gauge"></i>
          </div>Dashboard</a></li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
            <i class="fa-solid fa-bars"></i>
          </div>Quản trị menu</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/menus" target="_top">
              <svg class="nav-icon">
              </svg>Menu</a></li>  
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
            <i class="fa-solid fa-thumbtack"></i>
          </div>Quản trị bài viết </a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/newsCategories" target="_top">
          <svg class="nav-icon">
          </svg>Danh mục bài viết</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/news" target="_top">
          <svg class="nav-icon">
          </svg>Bài viết</a></li>
        </ul>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
            <i class="fa-solid fa-film"></i>
          </div>Quản trị phim </a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/filmCategories" target="_top">
          <svg class="nav-icon">
          </svg>Danh mục phim</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/genres" target="_top">
          <svg class="nav-icon">
          </svg>Thể loại</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/qualities" target="_top">
          <svg class="nav-icon">
          </svg>Chất lượng</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/films" target="_top">
          <svg class="nav-icon">
          </svg>Phim</a></li>
        </ul>
      </li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
            <i class="fa-solid fa-brush"></i>
          </div>Quản lý giao di</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/slides" target="_top">
              <svg class="nav-icon">
              </svg>Danh sách slide</a></li>  
          <li class="nav-item"><a class="nav-link" href="/admin/slides/create" target="_top">
              <svg class="nav-icon">
              </svg>Thêm slide</a></li>
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
          <i class="fa-solid fa-clapperboard"></i>
          </div>Quản trị rạp & phòng </a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/seats-type" target="_top">
          <svg class="nav-icon">
          </svg>Danh sách loại ghế</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/areas" target="_top">
            <svg class="nav-icon">
            </svg>Danh sách khu vực</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/cinemas" target="_top">
              <svg class="nav-icon">
              </svg>Danh sách rạp </a></li>  

        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <div class="nav-icon">
            <i class="fa-solid fa-user"></i>
          </div>Quản lý người dùng </a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/users" target="_top">
            <svg class="nav-icon">
            </svg>Danh sách người dùng</a></li>  
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
        <div class="nav-icon">
          <i class="fa-solid fa-receipt"></i>
        </div>Quản lý người hóa đơn</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="/admin/receipts" target="_top">
          <svg class="nav-icon">
          </svg>Danh sách hóa đơn</a></li>  
      </ul>
    </li>
    </ul>
    
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
  </div>