<div class="table-filter">
  <div class ="table-filter-left d-flex">
    <select class="form-select table-filter-left-task w-25" aria-label="Default select example">
      <option selected disabled value="">Tác vụ</option>
      <option value="1">Xóa</option>
      <option value="2">Ẩn</option>
      <option value="3">Hiển thị</option>
    </select>
    <input class="form-control table-filter-left-search w-50" type="text" placeholder="Tìm kiếm"  aria-describedby="basic-addon1">
    <select class="form-select table-filter-left-sort w-25" aria-label="Default select example">
      <option selected disabled value="">Lọc theo</option>
      <option value="1">Lọc từ A -> Z</option>
      <option value="2">Ẩn</option>
      <option value="3">Hiển thị</option>
    </select>
     <select class="form-select table-filter-left-number w-25" aria-label="Default select example">
      <option selected disabled value="">Số hiển thị</option>
      <option value="1">Lọc từ A -> Z</option>
      <option value="2">Ẩn</option>
      <option value="3">Hiển thị</option>
    </select>
  </div>
</div>
