 </div>
<div class="footer">
    <div class="footer-top">
        <ul class="footer-top__list-brand">
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link link--4dx"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link link-imax"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--starium"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--goldclass"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--lamour"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--sweetbox"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--dolby"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--premiumcinema"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--screenx"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link link--cineforet"></a>
            </li>
            <li class="footer-top__item-brand">
                <a href="" class="footer-top__link  link--cinelinvingroom"></a>
            </li>
        </ul>
    </div>
    <div class="footer-mid">
        <ul class="footer-mid__list">
            <li class="footer-mid__item fw-bold-br">CGV Việt Nam</li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Giới thiệu</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Tiện ích online</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Thẻ quà tặng</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Tuyển dụng</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Liên hệ quảng cáo CGV</a></li>
        </ul>
        <ul class="footer-mid__list">
            <li class="footer-mid__item fw-bold-br">Điều Khoản Sử Dụng</li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Điều khoản chung</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Điều khoản giao dịch</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Chính sách thanh toán</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Chính sách bảo mật</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Câu hỏi thường gặp</a></li>
        </ul>
        <div class="footer-mid__list">
        <ul class="footer-mid__list-contact row g-1">
            <li class="footer-mid__item fw-bold-br">Kết nối với chúng tôi</li>
            <li class="footer-mid__item col col-lg-3 "><a href="" class="footer-mid__link footer-mid__link--facebook"></a></li>
            <li class="footer-mid__item col col-lg-3 "><a href="" class="footer-mid__link footer-mid__link--youtube"></a></li>
            <li class="footer-mid__item col col-lg-3 "><a href="" class="footer-mid__link footer-mid__link--instagram"></a></li>
            <li class="footer-mid__item col col-lg-3 "><a href="" class="footer-mid__link footer-mid__link--zalo"></a></li>
            <li class="footer-mid__item col col-lg-12"><a href="" class="footer-mid__link"><img class ='footer-mid__link--bocongthuong' src="/img/check.png"></a></li>
        </ul>
        </div>
        <ul class="footer-mid__list">
            <li class="footer-mid__item fw-bold-br">Chăm Sóc Khách Hàng</li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Hotline: 1900 6017</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Giờ làm việc: 8:00 - 22:00</a></li>
            <li class="footer-mid__item"><a href="" class="footer-mid__link">Email hỗ trợ: hoidap@cgv.vn</a></li>
        </ul>
        
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-list">
            <div class="footer-bottom-img"></div>
            <div class="footer-bottom-content">
                <p class ='fw-bold-br'>Công TY TNHH CJ CGV VIETNAM</p>
                <p>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày 14/10/2015, cấp bởi</p>
                <p>Sở KHĐT thành phố Hồ Chí Minh.</p>
                <p>Địa Chỉ: Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, TPHCM.</p>
                <p>Hotline: 1900 6017</p>
                <p>COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .</p>
            </div>
        </div>
        <div class="footer-bottom-background"></div>
    </div>
</div>


</main>