<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Åukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>CGV Admin</title>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/img1.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendors styles-->
  <link rel="stylesheet" href="/node_modules/simplebar/dist/simplebar.css">
  <link rel="stylesheet" href="/dist/css/vendors/simplebar.css">
  <!-- Main styles for this application-->
  <link href="/dist/css/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a6818c1fb6.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics-->
  {{!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    // Shared ID
    gtag('config', 'UA-118965717-3');
    // Bootstrap ID
    gtag('config', 'UA-118965717-5');
  </script> --}}
  <link href="/node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
  {{!-- <link href="/css/base.css" rel="stylesheet"> --}}
  <link href="/css/admin/index.css" rel="stylesheet">
</head>
  {{> adminbars}}
  {{> adminheader}}
  {{{body}}}
  {{> adminfooter}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</body>
</html>