<h1 class="">Add films</h1>
<form id ="form-film-update" method="POST" action="/admin/films" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name ="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Image</label>
    <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name ="file_image">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Genre</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="genre">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Country</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="country">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Minute</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="minute">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Year</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="year">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Actor</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="actor">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Director</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="director">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Rating</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="rated">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Language</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="language">
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Key_link</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='{{key_link}}' name ='key_link'>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="description">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Quality</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name ="quality_id" required>
  </div>
 <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Status</label>
     <select class="form-select" aria-label=".form-select-lg example" name ='status'>
      <option selected disabled>--Chọn Status--</option>
      <option value=1>Active</option>
      <option value=0>Disable</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Sub Category</label>
      <select class="form-select" aria-label=".form-select-lg example" name ='sub_category' required>
        <option selected disabled>--Chọn Category--</option>
        <option value=4>Phim đang chiếu</option>
        <option value=5>Phim sắp chiếu</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>