<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0 ms-2">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item"><a href="/admin/films">Quản lý phim</a></li>
      <li class="breadcrumb-item active"><span>Danh sách phim</span></li>
    </ol>
  </nav>
</div>
</header>
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-4">
      <div class="card-body">
        {{#with area}}
        <form id ="form-sub-category-create" method="POST" action="/admin/areas?_method=PATCH&id={{_id}}">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tên khu vực</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name ="name" value ='{{name}}'>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Trạng thái</label>
            <select class="form-select" aria-label=".form-select-lg example" name ='status'>
              {{#if status}}
              <option selected value=true>Hiển thị</option>
              <option value=false>Ẩn</option>
              {{/if}}
              {{#unless status}}
              <option selected value=false>Ẩn</option>
              <option value=true>Hiển thị</option>
              {{/unless}}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{/with}}
      </div>
    </div>
  </div>
</div>
